@charset "UTF-8";
/* CSS Document */

#horizontal_menu{
	
}

#horizontal_menu ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	
}

#horizontal_menu ul li{
	float:left; /* to align the li/content to right hand side. */
}

#horizontal_menu ul li a{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14px;
	text-decoration:none;
	color:#330066;
	/*border-bottom:solid 1px #660066;*/
	background-color:#666600;
	padding:10px;
	margin-right:10px;
	width:175px;
	text-align:center;
	display:block;
}

#horizontal_menu ul li a:hover{
	color:#FFF;
	background-color:#000000;
}

}

