html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
	clear:both;
	float:none;
	display:block;
}
body {
	margin:0px;
	padding:0px;
	font-family:Verdana, sans-serif;
}

#container {
	width:973px;
	height:551px;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;
	margin:auto;
	padding-top:28px;
}

#toppatch {
	width:900px;
	height:15px;
	background-image:url(../images/clayton_layoutwith-slices_03.jpg);
	margin:auto;
}

header {
	width:929px;
	height:83px;
	background-color:#FFFFFF;
	margin:auto;
}

#logo {
	width:267px;
	height:83px;
	float:left;
}

nav {
	width:662px;
	height:83px;
	float:right;
	background-image:url(../images/clayton_layoutwith-slices_07.jpg);
}

#content {
	width:902px;
	background-color:#FFF;
	margin:auto;

}

#ltsnewsbox {
	width:417px;
	float:left;
	padding:20px 20px 0px 20px;
	
	
}
#content_main{
	
}
#content_main p{
	font-size:12px;
	padding:0 0 15px 0;
	line-height:18px;
}
#table_layout {
		overflow: auto;

	width:580px;
	float:left;
	padding:20px 20px 0px 20px;
	
	
}

#ads{
	width:230px;
	float:left;
	padding:56px 0 0 0;
	margin:0 0 0 34px;
	
}

#banner {
	width:427px;
	float:left;
	padding-top:10px;
}

.heading {
	font-size:24px;
	color:#93b13f;
	border-bottom:solid 1px #999;
	display:block;
}

.date {
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	display:block;
	padding:17px 0 8px 0;

}

#bottomcontent {
	width:885px;
	background-color:#FFF;
	margin:auto;
	padding-left:17px;
	padding-top: 13px;
}

.box {
	width:194px;
	height:116px;
	background-image:url(../images/box.jpg);
	float:left;
	margin-right:5px;
	padding:10px 10px 10px 10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
}
.box1 {
	
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#333333;
	margin:0 0 5px 5px;
	
}
.box1 h2{
	color:#0387c8;
	font-size:14px;
	padding:0 0 13px 0;
	font-weight:bold;
}
.follow h2{
	color:#0387c8;
	font-size:14px;
	padding:16px 0 13px 0;
	font-weight:bold;
}
#client h2{
	color:#0387c8;
	font-size:14px;
	padding:16px 0 13px 0;
	font-weight:bold;
}

.lb{
	color:#41ace4;
	
}
.small{
	color:#000;
	font-size:9px;
	
}

.boxhead {
	font-size:20px;
	color:#93b13f;
	padding:0 0 5px 0;
	float:left;
	clear:both;
}
.text {
	display:block;
	color:#717171;
	line-height:12px;	
}
.textone {
	display:block;
	color:#717171;
	padding:20px 0 0 0;
	line-height:12px;
	
}
.box ul {
	margin:0px 0px 0px 20px;
	padding:0px;
	list-style-image:url(../images/bullet.jpg);
}

nav ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

nav ul li {
	float:left;
}

nav ul li a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	width:130px;
	display:block;
	text-align:center;
}
#ltsnewsbox p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#030000;
	line-height:17px;
	
}
#ltsnewsbox p a{
	 color: #93B13F;
    font-size: 11px;
    font-weight: bold;
	text-decoration:none;
	
}

.green{
	
	 color: #93B13F;
}
.box a{
	color:#2b6aab;
}
.box1 a{
	color:#2b6aab;
}

.icon{
	float:left;
	padding:0 10px 0 0;
}

.ps{
	display:block;
	float:left;
}
form{
	height:870px;
	
}

form .input{
	width:160px;
	height:13px;
	padding:0px;
	border:1pxx solid #ccc;
	margin:3px 0 6px 0;

}

form .label {
    font-size: 10px;
    padding: 0 !important;
    text-align: left;
}
form .password{
	width:120px;
	height:13px;
	padding:0px 0px 0px 0px!important;
	border:1pxx solid #ccc;
	margin:3px 4px 6px 0;
	float:left;
	
}
form .btn{
	width:39px;
	height:16px;
	background:url(../images/btnok.png) no-repeat left top;
	border:0 none;
}

form a{
		 color: #93B13F;
}


details, summary {
	 display: block; 
}
			/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
			/* These styles can be applied regardless of whether the fallback is needed */
summary { 
	cursor: pointer; 
}

summary:hover, summary:focus { 
	background: #ddd; 
}

			/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
			/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
			/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { 
	display: none;
 }
			/* This doesn’t work very well in Firefox 3.6.x */
			/* .no-details details[open] > * { display: block; } */
			/* The following doesn’t toggle correctly in WebKit:
			.no-details details > summary:before { content: '► '; }
			.no-details details[open] > summary:before { content: '▼ '; }
			*/
			/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary:before { 
	float:none; 
	 
	content: '► '; 
}

.no-details details.open > summary:before {
	 content: '▼ ';
}
			/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
			/* I really couldn’t be bothered though. */
			/*
			.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
			.no-details details.open > summary { background-position: 0 -20px; }
			*/
			/* Make sure summary remains visible */
.no-details details summary { 
display: block; 
}
.heading{
	font-size:24px;
	color:#93b13f;
	border-bottom:1px solid #ccc;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
}
.table_style {
	width:534px;
	background:#FFF;
    border-collapse: collapse;
    color: #1e1c1d;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	
}

.table_style caption {
    background-color: #E63C1E;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
	font-size:12px;
	padding:10px;
}
.table_style th {
    background-color: #CC3300;
    color: #fff;
    text-align: center;
	font-size:11px;
	padding:10px;
}

.table_style td{
	text-align:center;
	padding:10px;
}

.table_style tr.odd {
    background-color:#CCC;
    color:#000;
}

.banner{
	padding:0 0 20px 0;
}

.box1 ul{
}

.box1 ul li{
	list-style:disc;
	list-style-position:inside;
	width:199px;
	color:#0088cb;
	border-bottom:1px dotted #545454;
	padding:4px 0 4px 4px;
}

.box1 ul li a{
	color:#000;
	text-decoration:none;
}

.testimonials{
	border:1px solid #606060;
	padding:10px;
	width:193px;
	margin:0 0 10px 0;
}

.testimonialname{
	color:#3faedd;
	font-size:10px!important;
	text-align:right;
	float:right;
}

.testimonialsmall{
	font-size:10px!important;
	color:#000;
	text-align:right;
	float:right;
}
.box1 span{
	font-size:30px;
}
.testimonials p{
	line-height:18px;
	width:153px;
	text-align:justify;
	margin:0 auto;
}

.follow ul{
	
}

.follow ul li{
	list-style:none;
	float:left;
	padding:0 10px 0 0;
}

.follow ul li a{
	color:#000;
	text-decoration:none;
}


#client {
    margin: auto;
    padding: 0 0 0 40px;
    width: 902px;
}

#client ul{
}
#client ul li{
	float:left;
	padding:0 23px 0 0;
}
#client ul li a{
}

/*Contact Us Page*/

#content_form{
	width:442px;
	background:#dfdddf;
	border:1px solid #5d5d5d;
	padding:7px 7px 7px 7px;
	overflow: auto;
}
.formtop{
	line-height:0px;
	width:442px;
}
.formbottom{
	line-height:0px;
	width:442px;
}
.form { 
	width: 406px;
	border-right:1px solid #53575a;
	border-left:1px solid #53575a;
	float:left;
	background:#3072af;
	color: #fff;
	padding:20px 0 0 34px; 
	overflow: hidden; 
	height:600px;
}
label { 
	clear:  both; 
	display: block; 
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	padding:0 0 8px 0;
}
input { 
	margin-bottom: 25px;
	color:#4c4c4c; 
}

input {
	 font-size:18px; 
	 border: 2px solid #999; 
	 padding: 6px 8px; 
	 background-color: #fff;
	 color: #4c4c4c; 
	 width: 328px;  
	 height:20px;
}
input:focus { 
	border: 2px solid #6c6;
}
input[type=date],
{ 
	width: 249px; 
}
input[type=number]{
	width:115px;
}
input[type=submit] { 
	margin-top:10px; 
	background:url(../images/btn_signup.png) no-repeat left top; 		    width:120px; 
	border:0 none;
	height:42px;
}
input:invalid {  
	border: 2px red solid; 
}
input.awesome{ 
	float:right; 
	margin:20px 26px 0 0;
}
form p{
	
}

.small { 
	font-size:10px; 
	margin: 15px 0 0 0; 
	color: #fff; 
	float:left; 
}

footer{
	text-align:center;
	margin:0 auto;
	width:296px;
	padding:19px 0 30px 0;
}

footer ul{
}

footer ul li{
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	float:left;
	list-style:disc;
	list-style-position:inside;
	color:#000;
	padding:0 3px 2px 0;
}

footer ul li a{
	text-decoration:underline;
	color:#83992a;	 
}
.clayton{
	text-decoration:none;
	color:#000;
	list-style:none;
}